<style>
  .socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    height: 1em;
    margin-bottom: -1.5em;
    line-height: initial !important;
    font: initial !important;
  }
  .socialMedia>div iframe {
    line-height: initial !important;
    font: initial !important;
    line-height: unset !important;

    zoom: 1;
    transform: scale(1.0);

  }
  .socialMedia>div {
    /*height: 1em;*/
    width: 60px;;
  }
</style>
  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<div class="socialMedia">
  <div>
    <div class="fb-share-button" 
      data-href="{{ page.url | absolute_url }}" 
      data-layout="button">Share
    </div>
  </div>
  
  <div>
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-via="QUTEcosounds" data-show-count="false">
        Tweet
      </a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
