---
layout: default
---

<style>
	.hero_img {	
		background-image: url({{ page.post_image }});
		background-repeat:no-repeat;
		background-position: center center;
		background-size: cover;
		
		width:100%;
		
		margin-top: -4px;
	}
	
	.profile {
		margin-top: 40px;
		
	}
	
	.profile-pic {
		width: 128px;
		height: 128px;
	}
  
  .profile p {
    height: 38px;
  }

	.githubButton {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
  
  .profile_badge {
    background-color:#eee;
    background-image:linear-gradient(#fcfcfc 0px,#eee 100%);
    background-repeat:no-repeat;
    border-radius:4px;
    border-image-outset:0;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    color:#333;
    cursor:pointer;
    display:inline-block;
    text-decoration:none;
    text-shadow:#fff 0 1px 0;
    white-space:nowrap;
    border-color:#d5d5d5;
    border-style:solid;
    border-width:1px;
    padding:4px 8px 4px 8px;
    font:700 13px/16px 'Helvetica Neue',Helvetica,Arial,sans-serif;
    height: 28px;
    width: 160px;
  }
  
  .profile_badge img {
    height: 100%;
  }

  .profile_badge:hover {
    background-color:#ddd;
    background-image:linear-gradient(#eee 0px,#ddd 100%);
    color:#333;
    border-color:#ccc;
    text-decoration:none;
  }
	
	.socialMedia {
		line-height: 0.7em;
		margin-top: -1.6em;
	}
	
	.socialMedia>div {
		display: inline-block;
	}

</style>



{% if page.post_image %}

<div class="hero_img" style="{{ page.post_hero_style }}">
{% if page.post_image_height %}
	<div style="height: {{ page.post_image_height }};" class="">
	</div>
{% else %}
	<div style="height: 24em;" class="">
	</div>
{% endif %}
</div>
{% endif %}

<div class="row post">
  <div class="meta col-md-3 col-md-push-9 text-center ">
      {% assign empty_array = '' | split:',' %}
      {% assign author_names = page.author | concat:empty_array %}
      {% for author_name in author_names %}

      <!-- Author -->
      {% assign author = site.data.authors[author_name] %}

      <div class="profile">
          <img class="img-circle profile-pic" src="{{ author.image_url }}">
          <div class="caption">
          <h3 class="author">{{ author.display_name }}</h3>
          {% if author.twitter %}
          <p>
            <a href="https://twitter.com/{{ author.twitter }}"
               class="twitter-follow-button"
               data-show-count="false"
               data-size="large">Follow @{{ author.twitter }}</a>
            <script >!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </p>
          {% endif %}
          {% if author.github %}
          <p>
            <iframe
              src="https://ghbtns.com/github-btn.html?user={{ author.github }}&type=follow&count=false&size=large"
              frameborder="0" scrolling="0" width="180px" height="30px"></iframe>
          </p>
          {% endif %}
          {% if author.google_scholar %}
          <p>
            <a class="profile_badge" href="https://scholar.google.com/citations?user={{ author.google_scholar }}">
              <img src="/images/scholar_logo_30dp.png" style="margin-top: 1px;" border="0" alt="View {{ author.display_name }}'s profile on Google Scholar">
            </a>
          </p>
          {% endif %}
          {% if author.research_gate %}
          <p>
            {% assign rg_url = author.research_gate %}
            {% unless rg_url contains '://' %}
            {% assign rg_url =  rg_url | prepend: "http://www.researchgate.net/profile/" %}
            {% endunless %}
            <a class="profile_badge" href="{{ rg_url }}">
              <img src="/images/ResearchGate_Logo.png"   border="0" alt="View {{ author.display_name }}'s profile on Research Gate">
            </a>
          </p>
          {% endif %}
          {% if author.linked_in %}
          <p>
            {% assign linkedin_url = author.linked_in %}
            {% unless linkedin_url contains '://' %}
            {% assign linkedin_url =  linkedin_url | prepend: "https://au.linkedin.com/in/" %}
            {% endunless %}
            <a href="{{ linkedin_url }}" style="display: inline-block;margin-top: 3px"  >
              <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View {{ author.display_name }}'s profile on LinkedIn">
            </a>
          </p>
          {% endif %}
          </div>
        </div>
      {% endfor %}
    <hr />
    <small>
      <a href="{{ BASE_PATH }}/articles.html">← All articles</a>
    </small>
  </div>


	<div class="col-md-9 col-md-pull-3">
		<div class="page-header">
		  <h1 id="{{ page.title | slugify }}">{{ page.title }}
			<br/>
			<small>{{ page.date | date_to_string }}</small>
		  </h1>
      {% include social_media.html %}
      <p class="clearfix">&nbsp;</p>
		</div>
		
		<div class="">
			{{ content }}
		</div>
		
    <p>
			&nbsp;
      
    </p>
		<p>
			&nbsp;
      <small>
        <a href="{{ BASE_PATH }}/articles.html">← All articles</a>
      </small>
		</p>
    
	</div>

</div>	


